{% extends "layout.html" %}

{% block body %}
    <h1 class="display-1">Your favorite Pokemon</h1>
    <p>This page allows you to:</p>
    <ul class="list-group">
        <li href="#" class="list-group-item list-group-item-action list-group-item-info">log in</li>
        <li href="#" class="list-group-item list-group-item-action list-group-item-info">pick pokemon and display pokemon image</li>
        <li href="#" class="list-group-item list-group-item-action list-group-item-info">get json data for those pokemon images</li>
        <li href="#" class="list-group-item list-group-item-action list-group-item-info">exort that data into a json</li>
        <li href="#" class="list-group-item list-group-item-action list-group-item-info">clear list</li>
        <li href="#" class="list-group-item list-group-item-action list-group-item-info">logout</li>
    </ul>
    <h3>What is your name</h3>
    <form action="/login" method="post">
        <p><input type="text" name="username"></p>
        <p><input type="submit" value="login" class="btn btn-success"></p>
    </form>
    
{% endblock %}